@use "./variables" as *;

/*mobile version*/

.heading__aboutMe {

    font-family: $heading-font-family;
    background-color: $color-background-main;
    color: $color-text-black;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding: 5px;
    
  }

.about-me {
  
    display: flex;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 10px;

 
    
    /*if time take mobiles heading styles /image styling into seperate section? 
    this is being applied multiple times */
      
    &__myimage {
      max-width: 30%;
      height: auto;
      object-fit: cover;
      object-position: center;
      border: 1px solid black;
      align-items: center;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      border-radius: 5px;
      }
    
    &__blurb {
      display: flex;
      justify-content: space-between;
      background-color: white;
      text-align:left;
      margin: 10px;
      font-family: $paragraph-font-family;
      font-weight: 400;
      color: $color-text-darkBrown;
      font-size: 12px;
      border-radius: 5px; 
      }   

    &__blurb--2 {
      display: none;
    }

}

/*desk top version using grid-template-area*/

@media screen and (min-width: 768px) { 

    .heading__aboutMe {
      background-color: transparent;
      color: $color-text-white;
      font-weight: 700;
      text-align: left;
      font-size: 24px ;
      margin-bottom: 0;
      margin: 0;
      padding: 10px;
      padding-left: 50px;
      padding-bottom: 10px;     
    }  
  
    .about-me { 
        padding: 30px;
        padding-left: 50px;
        padding-top: 0px;
        max-height: 170px;
        margin-bottom: 10px;
        
        display: grid;
        grid-template-columns: 3fr 1fr ;
        grid-template-rows: 1fr;
        grid-template-areas:
                  "blurb1 myimage"
                  "blurb2 myimage";

        &__myimage {

            grid-area: myimage;

            max-width: 100%;
            height:auto;
            max-height: 200px;
            object-fit: cover;

            border: none; 
            border-radius: 10px; 
            display: flex;

           
            margin: 0;
            margin-left: 100px;
            


        }  
          
        &__blurb {

              text-align: left;
              font-size:  1.2 rem;
              margin: 0;   
              border-radius: 10px; 
              font-size: 15px;
              
              //example box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);
              //The values 0 4px 8px rgba(0, 0, 0, 0.1) represent the horizontal offset (0), vertical offset (4px), blur radius (8px), and color (rgba(0, 0, 0, 0.1)) of the shadow. You can adjust these values to achieve the desired shadow effect.
              //rgba(0, 0, 0, 0.1) specifies the shadow color as black with 0.1 opacity. Adjust the color and opacity as needed. -->

          &--1  {
              grid-area: blurb1;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: left;
              border-radius: 10%;
              padding: 20px;
              padding-right: 0;
            }  

          &--2  {
              grid-area: blurb2;
              display: flex;
              align-items: center;
              justify-content: center;
              text-align: left;
              padding: 20px;
          }

        }
    }
}


 
  
/* to add in if time

@media screen and (min-width: 425px) and (max-width: 767px) {

  .heading__aboutMe {
    grid-area: heading;
    color: $color-text-darkBrown;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
    margin: 0;
    padding: 10px;
  }  
  
  .about-me {

   


      display: grid;
      grid-template-columns: 3fr 1fr ;
      grid-template-rows: 1fr;
      grid-template-areas:
                "blurb1 myimage"
                "blurb2 myimage";

*/

