@use "./variables" as *;

/*mobile version*/

.heading__aboutMe {
  /*styling*/
  font-family: $heading-font-family;
  background-color: $color-background-main;
  color: $color-text-darkBrown;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  padding: 5px;
  }

.about-me {
  
  display: flex;
  justify-content: flex-start;
  /*styling*/
  text-align: left;
  background-image: url("./images/backgroundImageLrg-brick.jpg"), 
  linear-gradient(to bottom right , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  margin-bottom: 10px;
  /*if time take mobiles heading styles into seperate section? this is being applied multiple times */
    
    &__myimage {
      max-width: 30%;
      height: auto;
      object-fit: cover;
      object-position: center;
      border: 1px solid black;
      align-items: center;
      margin-left: 10px;
      margin-top: 10px;
      margin-bottom: 10px;
      
      }
    
    &__blurb {
      display: flex;
      justify-content: space-between;
      background-color: white;
      text-align:left;
      margin: 10px;
      font-family: $paragraph-font-family;
      font-weight: 400;
      color: $color-text-darkBrown;
      font-size: 0.8rem;
      }   

    &__blurb--2 {
      display: none;
    }

  }

/*desk top version using grid-template-area*/

@media screen and (min-width: 768px) { 

  .heading__aboutMe {
    grid-area: heading;
    color: $color-text-darkBrown;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
    margin: 0;
    padding: 10px;
  }  
  
  .about-me {

    /*background image inherited from mobile but adding here makes it darker. prob not good for loading speed.remove?*/
      background-image: url("./images/backgroundImageLrg-brick.jpg"), 
      linear-gradient(to top left , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
      padding: 15px;
      max-height: 170px;
      margin-bottom: 10px;


      display: grid;
      grid-template-columns: 3fr 1fr ;
      grid-template-rows: 1fr;
      grid-template-areas:
                "blurb1 myimage"
                "blurb2 myimage";

      &__myimage {
          grid-area: myimage;
            max-width:100%;
            height: auto;
            max-height: 170px;
            
            padding-bottom: 30px;
            border: none;
            margin: 0;
            margin-left: 50px;
        }  
        
      &__blurb {

            text-align: left;
            font-size:  1.2 rem;
            padding-left: 10px;
            margin: 0;      

        &--1  {
            grid-area: blurb1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
          }  

        &--2  {
            grid-area: blurb2;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            padding-right: 15px;
        }

    }
  }
}


 
  
/* to add in if time

@media screen and (min-width: 425px) and (max-width: 767px) {
  
  .heading__aboutMe {
    grid-area: heading;
    color: $color-text-darkBrown;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
    margin: 0;
    padding: 10px;
  }  
  
  .about-me {

   
      background-image: url("./images/backgroundImageLrg-brick.jpg"), 
      linear-gradient(to top left , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
      background-size: cover;
      background-position: center;
      background-blend-mode: overlay;
      padding: 15px;
      max-height: 170px;
      margin-bottom: 10px;


      display: grid;
      grid-template-columns: 3fr 1fr ;
      grid-template-rows: 1fr;
      grid-template-areas:
                "blurb1 myimage"
                "blurb2 myimage";

      &__myimage {
          grid-area: myimage;
            max-width:100%;
            height: auto;
            max-height: 170px;
            
            padding-bottom: 30px;
            border: none;
            margin: 0;
            margin-left: 50px;
        }  
        
      &__blurb {

            text-align: left;
            font-size:  1.2 rem;
            padding-left: 10px;
            margin: 0;      

        &--1  {
            grid-area: blurb1;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
          }  

        &--2  {
            grid-area: blurb2;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: left;
            padding-right: 15px;
        }

    }
  }
}


