@use "./variables" as *;

/*mobile version*/

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-image: url("./images/backgroundImageLrg-brick.jpg"), 
    linear-gradient(to bottom right , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    /* ^Overlay with a linear gradient */
    /* Ensure the background image covers the entire viewport */
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: transparent; /*only need this if we set a background color) */
  
  /*if time take mobiles heading styles into seperate section? this is being applied multiple times */

    &__heading {
      font-family: $heading-font-family;
      background-color: $color-background-black;
      color: $color-text-white;
      text-align: center;
      font-size: 0.8 rem;
      font-weight: 400;
      background-image: transparent;
      padding: 10px;
    }
         
    &__myimage {
      max-width: 50%;
      height: auto;
      border-color: $color-background-main;
      border-style: solid ; 
      text-align:center;
      padding: 5px;
      margin: 10px;
      background-color: transparent
      }
    
    &__blurb {
      display: flex;
      justify-content: space-between;
      }

    &__blurb--1 {
      font-family: $paragraph-font-family;
      margin-top: 25px;
      background-color: transparent;
      color: $color-text-darkBrown;
      margin: 5px;
      margin-bottom: 0;
      /*background-color: $color-background-main;
      opacity: 70%;*/
    }

    &__blurb--2 {
      display: none;
    }


    
    /*{
      font-family: $paragraph-font-family;
      margin-bottom: 30px;
      background-color: $color-background-main;
      color: $color-text-darkBrown;
      margin: 5px;
      margin-top: 0;
    }
    */
}

/*desk top version using grid-template-area*/

@media screen and (min-width: 768px) { 
  
  .about-me {
    background-image: url("./images/backgroundImageLrg-brick.jpg"), 
        linear-gradient(to top left , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
        background-size: cover;
        background-position: center;
        background-blend-mode: overlay;
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 3fr 1fr ;
        grid-template-rows: 20px ;
        grid-template-areas:
                  "heading myimage"
                  "blurb1 myimage"
                  "blurb2 myimage";

    &__heading {
        grid-area: heading;
        margin-bottom: 0;
        margin: 0;
        text-align: left;
      } 

    &__myimage {
        grid-area: myimage;
          max-width:100%;
          height: auto;
          max-height: 200px;
          background-color: black;
      }    

    &__blurb--1  {
        grid-area: blurb1;
        text-align: left;
        margin: 0;
        font-size: 15px;
      }  

    &__blurb--2  {
        grid-area: blurb2;
        display: flex;
        margin: 0;
        font-size: 15px;
        font-family: $paragraph-font-family;
    }

  }
}


/*
  .about-me__blurb1 .aboutme__blurb2 {
    background-color: #444;
    font-size: 150%;
  }

  .about-me__heading {
    color: $color-test-blue-background;
    font-size: 200%; //*CHANGE */
   
  /*
    &__blurb{
        font-size:16px;
        font-weight:400;
        color: $color-text-headings;
        font-family: Inter, sans-serif;
    } */
