@use "./variables" as*;

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: $color-text-main ;  
    font-family: $paragraph-font-family;
}

html { margin: 3px;
    padding: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

#image-container {
    background-image: url("./images/backgroundImageLrg-brick.jpg"), 
    linear-gradient(to bottom right , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

@media screen and (min-width: 1024px) { 

    html { margin: 10px;
           padding: 30px;
    }

    }  