@use "./variables" as*;

* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    color: $color-text-main ;  
    font-family: $paragraph-font-family;
}

html { margin: 3px;
    padding: 10px;
}

a {
    text-decoration: none;
    cursor: pointer;
}

/*

body {
    font-size: 1.5em;
    color: #fe7f88;
    background-image: none;
    background-color: transparent;
  }

  */
  


  .intro {

    background-image: url("./images/backgroundImageLrg-brick.jpg"), 
    linear-gradient(to bottom right , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));

    /* Ensure the background image covers the entire viewport */
    background-size: cover;
    background-position: center;
    /* Overlay with a linear gradient */
    background-blend-mode: overlay;
}
  
.intro {
    background-color: transparent;
}