@use "./variables" as *;


   .external-links {
      display: flex;
      justify-content: space-around;
      align-content: center;
      text-align: center;
      background-color: $color-background-black;
      padding: 10px;

      &__linkedin {
         background-color: $color-background-main;
         padding: 10px;
         border-radius: 50%;
         margin-left: 10px;

         &:hover {
           background-color: $color-hover-blue;
         }
      }

      &__github {
         background-color:$color-background-main ;
         padding: 10px;
         border-radius: 50%;

         &:hover {
         background-color: $color-hover-blue;
            }
         }

      &__cv {
         background-color: $color-background-main;
         padding: 10px;
         border-radius: 50%;
         
         &:hover {
            background-color: $color-hover-blue;
            color: $color-text-white;
         
      }

   }
}
