@use "./variables" as *;


   .external-links {
      display: flex;
      justify-content: space-around;
      align-content: center;
      text-align: center;
      height: px;
      background-color: $color-background-black;
      padding: 10px;

      &__linkedin {
         background-color: #ffffff;
         padding: 10px;
         border-radius: 50%;
         margin-left: 10px;
      }

      &__github {
         background-color: #ffffff;
         padding: 10px;
         border-radius: 50%;
      }

      &__cv {
         background-color: #ffffff;
         padding: 10px;
         border-radius: 50%;
         
      }

}
/*
      &__button {  
         display: flex;
         border-radius: 50%;
         padding: 10px;
         background-color:blue;
         height: 20px;
         display: flex;
         justify-content: space-between;
         font-family: $heading-font-family;
      }
*/
      
   }

    /* Style the button 
    .btn {
      background-color: #007bff;
      color: white;
      padding: 10px 20px;
      border: none;
      border-radius: 5px;
      font-size: 18px; /* Change font size here */
    
    
    /* Adjust the size of the icon 
    .btn i {
      font-size: 24px; /* Change icon size here */
    

/*
     &__a {
        display: flex;
        padding: 20px;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%; 
     }
   } */