@use "./variables" as *;


   .external-links {
      display: flex;
      justify-content: space-around;
      align-content: center;
      text-align: center;
      height: px;
      background-color: $color-background-black;
      padding: 10px;

      &__linkedin {
         background-color: #ffffff;
         padding: 10px;
         border-radius: 50%;
         margin-left: 10px;
      }

      &__github {
         background-color: #ffffff;
         padding: 10px;
         border-radius: 50%;
      }

      &__cv {
         background-color: #ffffff;
         padding: 10px;
         border-radius: 50%;
         
      }

}
