@use "./variables" as *;

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    /**here i am inserting image again to get smaller version - may affect loading?*/
    

    &__job-title {
        font-family: $heading-font-family;
        font-size: 2rem;
        font-weight: 500;
        color: $color-text-main;
        padding: 10px;/* padding for top, right, and left, but not bottom */
        
    }
    
    &__blurb{
        font-family: $paragraph-font-family;
        text-align: right;
        font-weight: 400;
        color: $color-text-darkBrown;
        font-size: 0.8rem;
        padding: 0 10px 10px; /* padding for left, right, and bottom, but not top */

    }
}



@media screen and (min-width: 768px) {

.intro {
        display: flex;
        flex-direction: column;
        justify-content: centre;
        text-align: center;
        

     &__job-title {
        align-content: center;
        font-size: 60px;
        font-weight: 400;
        font-family: cormorant, sans-serif;
        
        height: 25vh;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        
        }
        
     &__blurb{
            font-size:20px;
            font-weight:400;
            font-family: $paragraph-font-family;
            padding-bottom: 0;
            
        }
    }
}

