@use "./variables" as *;

.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    /**here i am inserting mage again to get smaller version - may affect loading?*/
    background-image: url("./images/backgroundImageLrg-brick.jpg"), 
    linear-gradient(to bottom right , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    /* ^Overlay with a linear gradient */
    /* Ensure the background image covers the entire viewport */
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: transparent; /*only need this if we set a background color) */
    
    
    /*
    border-style: solid; 
    border-color: $color-border-darkBrown; 
    border-width: 2px;
*/

    &__job-title {
        font-family: $heading-font-family;
        font-size: 2rem;
        font-weight: 500;
        color: $color-text-main;
        padding: 10px 10px 0px; /* padding for top, right, and left, but not bottom */
    }
    
    &__blurb{
        font-family: $paragraph-font-family;
        text-align: right;
        font-weight: 400;
        color: $color-text-darkBrown;
        font-size: 0.8rem;
        padding: 0 10px 10px; /* padding for left, right, and bottom, but not top */

    }
}



@media screen and (min-width: 768px) {

.intro {
        display: flex;
        flex-direction: column;
        justify-content: centre;
        text-align: center;
        

     &__job-title {
        align-content: center;
        font-size: 40px;
        font-weight: 400;
        font-family: cormorant, sans-serif;
        padding: 10px;
        &__job-title {
            font-family: $heading-font-family;
            font-size: 25px;
            font-weight: 800;
            color: $color-text-white;
            text-shadow: -1px -1px 0 #3b2f2f,  
            1px -1px 0 #1e0a0a,
           -1px  1px 0 #3b2f2f,
            1px  1px 0 #320b0b;
        }
        }
        
     &__blurb{
            font-size:15px;
            font-weight:400;
            font-family: $paragraph-font-family;
            
            
        }
    }
}
