@use "./variables" as *;

/*mobile version*/

.heading__myPortfolio {

font-family: $heading-font-family;
background-color: $color-background-black;
color: $color-text-white;
text-align: center;
font-weight: 400;
font-size: 18px;
padding: 5px;  
margin-top: 10px;  
margin-bottom: 10px; 
}

.myPortfolio {
    background-image: url("./images/backgroundImageLrg-brick.jpg"), 
    linear-gradient(to bottom right , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    /* ^Overlay with a linear gradient */
    /* Ensure the background image covers the entire viewport */
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: transparent; /*only need this if we set a background color) */ 
    overflow-x: hidden;  /*remove?*/
    padding: 15px;
    padding-top: 10px;
    padding-bottom: 10px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    
    &__project{ 
        display: flex;
        flex-direction: column;
        padding: 5px;
        color:$color-text-darkBrown ;
        background-color:$color-background-main;
        
        &--longlist {
            display: none;
        }
    }
        
    &__project-image {
        background-position: center;
        
        padding-bottom: 20px;
        max-width: 100%; /* Ensure the image doesn't exceed its container */
        height: auto;
        max-height: 140px;
        object-fit: cover;
        }

    &__project-layoutContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0px;
            
        }
       
    &__project-title {
        font-size: 10px;
        padding-top: 10px;
        padding-left: 0px;
        text-align:left;
        
        }

    &__project-links {
            display: flex;
            flex-direction: row;
            justify-content:flex-end;
            padding-right: 0;
            padding-top:5px;
            padding-left:5px;
            max-height: 10px;    
        }

    &__project-skills {
        display: none;
    }


}

/*desk top version using grid-template-area */

@media screen and (min-width: 768px) { 

.heading__myPortfolio {

        font-family: $heading-font-family;
        background-color: $color-background-black;
        color: $color-text-white;
        text-align: center;
        font-weight: 400;
        font-size: 18px;
        padding: 10px;  
        margin-top: 10px;   
        }


.myPortfolio {
        padding: 20px;
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "featured1 featured2 featured3"
            "longlist4 longlist5 longlist6";

        &--1 &--featured {
                    grid-area: featured1;
                }
        &--2 &--featured {
                    grid-area: featured2;
                }
        &--3 &--featured  {
                    grid-area: featured3;
                }
        &--4 &--longlist{
                    grid-area: longlist4;
                }    
        &--5 &--longlist {
                    grid-area: longlist5 ;
                }
        &--6 &--longlist {
                    grid-area:longlist6
                }   
        
        

        &__project {
            display:flex;
        }
            
        &__project-skills {
                    display: flex;
                    flex-direction: row;
                    justify-content:flex-start;
                    padding-right: 0;
                    font-size: 14px;
                } 
        &__project-title {
            font-size: 14px;
        }



    }   


}

