@use "./variables" as *;

.navigation {
  height: 0.5 rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  &__my-name {
    font-size: 1rem;
    font-weight:700;
    font-family: $heading-font-family;
    text-align: center;
  }

  &__desktop-links {
    display: none;
  }
}

/*desk-top version modified to include nav links*/

@media screen and (min-width: 768px) {
  .navigation {
    height: 0.5 rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__my-name {
      font-family: $heading-font-family;
      max-width: 200px; /*CHANGE -testing*/
      max-height: auto;
    }

    &__desktop-links {
      display: flex;
      text-align: center;
      justify-content: center;
      font-family: $paragraph-font-family;
      font-size: 1rem;
       
      &--navItem { 
        padding-left: 20px;

        &:hover {
          color: $color-hover-blue;
        }
      }
    }
  }
}
