@use "./variables" as *;

.navigation {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;

  &__my-name {
    font-size: 16px;
    font-weight: 700;
    font-family: $heading-font-family;
    color: $color-text-black;
    text-align: center;
  }

  &__desktop-links {
    display: none;
  }
}

/*desk-top version modified to include nav links*/

@media screen and (min-width: 768px) {
  .navigation {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    &__my-name {
      font-family: $heading-font-family;
      font-size: 1.5em;
    }

    &__desktop-links {
      display: flex;
      text-align: center;
      justify-content: center;
      font-family: $paragraph-font-family;
      font-size: 24px;
    
      &:hover {
        color: $color-hover-blue;
        }

      &--navItem {
        padding-left: 25px;
      }
    }
  }
}
