/*font styling*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:wght@100..900&display=swap')*/
/*--------------------------------------------------------------*/
/*alternative blue rgb(0, 157, 255) */
/*
<i class="fa-brands fa-linkedin-in"></i>;
<i class="fa-brands fa-github"></i>
<i class="fa-light fa-arrow-down"></i>
<i class="fa-solid fa-toggle-on" style="color: #07375f;"></i> */
/*color schemes
$color-test-blue-background: blue;
$color-test-orange-text: orange;
$color-test-pink-text: rgb(218, 6, 109);
$color-test-green-background: rgb(5, 197, 5)


$font-body: "cormorant" , "sans-serif" ;
$color-text-body: pink;
$color-text-portfolio: #09f328;
$color-text-footer: #160239;
$color-button-hover:rgb(7, 1, 26);
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: inter, sans-serif;
}

html {
  margin: 3px;
  padding: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

/*this casing a bug think it has an inherited pseudo element -before. I added so that on click it could show blurb 2 but have more work to do to get this wotking! */
.about-me__blurb--circleDown {
  padding: 10px;
}

/*

body {
    font-size: 1.5em;
    color: #fe7f88;
    background-image: none;
    background-color: transparent;
  }

  */
.navigation {
  height: 0.5 rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.navigation__my-name {
  font-size: 1rem;
  font-weight: 700;
  font-family: cormorant, sans-serif;
  text-align: center;
}
.navigation__desktop-links {
  display: none;
}

/*desk-top version modified to include nav links*/
@media screen and (min-width: 768px) {
  .navigation {
    height: 0.5 rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__my-name {
    font-family: cormorant, sans-serif;
    max-width: 200px; /*CHANGE -testing*/
    max-height: auto;
  }
  .navigation__desktop-links {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: inter, sans-serif;
    font-size: 1rem;
  }
  .navigation__desktop-links--navItem {
    padding-left: 20px;
  }
  .navigation__desktop-links--navItem:hover {
    color: rgb(33, 159, 117);
  }
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  /**here i am inserting mage again to get smaller version - may affect loading?*/
  background-image: url("./images/backgroundImageLrg-brick.jpg"), linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
  /* ^Overlay with a linear gradient */
  /* Ensure the background image covers the entire viewport */
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: transparent; /*only need this if we set a background color) */
  /*
      border-style: solid; 
      border-color: $color-border-darkBrown; 
      border-width: 2px;
  */
}
.intro__job-title {
  font-family: cormorant, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  padding: 10px 10px 0px; /* padding for top, right, and left, but not bottom */
}
.intro__blurb {
  font-family: inter, sans-serif;
  text-align: right;
  font-weight: 400;
  color: rgb(14, 2, 2);
  font-size: 0.8rem;
  padding: 0 10px 10px; /* padding for left, right, and bottom, but not top */
}

@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    text-align: center;
  }
  .intro__job-title {
    align-content: center;
    font-size: 40px;
    font-weight: 400;
    font-family: cormorant, sans-serif;
    padding: 10px;
  }
  .intro__job-title__job-title {
    font-family: cormorant, sans-serif;
    font-size: 25px;
    font-weight: 800;
    color: rgb(253, 245, 245);
    text-shadow: -1px -1px 0 #3b2f2f, 1px -1px 0 #1e0a0a, -1px 1px 0 #3b2f2f, 1px 1px 0 #320b0b;
  }
  .intro__blurb {
    font-size: 15px;
    font-weight: 400;
    font-family: inter, sans-serif;
  }
}
/*mobile version*/
.heading__aboutE {
  font-family: cormorant, sans-serif;
  background-color: #000000;
  color: rgb(253, 245, 245);
  text-align: center;
  font-size: 0.8 rem;
  font-weight: 400;
  padding: 10px;
}

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  background-image: url("./images/backgroundImageLrg-brick.jpg"), linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
  /* ^Overlay with a linear gradient */
  /* Ensure the background image covers the entire viewport */
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  /*if time take mobiles heading styles into seperate section? this is being applied multiple times */
}
.about-me__myimage {
  max-width: 60%;
  height: auto;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
}
.about-me__blurb {
  display: flex;
  justify-content: space-between;
  background-color: white;
  text-align: left;
  margin: 10px;
  font-family: inter, sans-serif;
  font-weight: 400;
  color: rgb(14, 2, 2);
  font-size: 0.8rem;
}
.about-me__blurb--2 {
  display: none;
}

/*{
  font-family: $paragraph-font-family;
  margin-bottom: 30px;
  background-color: $color-background-main;
  color: $color-text-darkBrown;
  margin: 5px;
  margin-top: 0;
}
*/
/*desk top version using grid-template-area*/
@media screen and (min-width: 768px) {
  .heading__aboutMe {
    grid-area: heading;
    margin-bottom: 0;
    margin: 0;
    text-align: left;
  }
  .about-me {
    background-image: url("./images/backgroundImageLrg-brick.jpg"), linear-gradient(to top left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.6));
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 20px;
    grid-template-areas: "heading myimage" "blurb1 myimage" "blurb2 myimage";
  }
  .about-me__myimage {
    grid-area: myimage;
    max-width: 100%;
    height: auto;
    max-height: 200px;
    background-color: black;
  }
  .about-me__blurb--1 {
    grid-area: blurb1;
    text-align: left;
    margin: 0;
    font-size: 15px;
  }
  .about-me__blurb--2 {
    grid-area: blurb2;
    display: flex;
    margin: 0;
    font-size: 15px;
    font-family: inter, sans-serif;
  }
}
/*
  .about-me__blurb1 .aboutme__blurb2 {
    background-color: #444;
    font-size: 150%;
  }

  .about-me__heading {
    color: $color-test-blue-background;
    font-size: 200%; //*CHANGE */
/*
  &__blurb{
      font-size:16px;
      font-weight:400;
      color: $color-text-headings;
      font-family: Inter, sans-serif;
  } */
/*mobile version*/
.my-skills {
  display: none;
}

/*desk top version using grid template and defining grid-template-columns and grid-template-rows */
@media screen and (min-width: 768px) {
  .my-skills {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, [col] 1fr);
    grid-template-rows: repeat(3, [row] auto);
    font-size: small;
  }
  .my-skills__heading {
    grid-column: col/span 1;
    grid-row: row 1;
  }
  .my-skills__info {
    grid-column: col 2/span 5;
    grid-row: row 1;
  }
  .my-skills__logos {
    grid-column: col/span 6;
    grid-row: row 2;
  }
  .my-skills__logos {
    display: flex;
    justify-content: center;
    background-image: url("./images/backgroundImageLrg-brick.jpg"), linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    /* ^Overlay with a linear gradient */
    /* Ensure the background image covers the entire viewport */
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: transparent;
    max-height: 70px;
  }
}
/*mobile version*/
.heading__myPortfolio {
  font-family: cormorant, sans-serif;
  background-color: #000000;
  color: rgb(253, 245, 245);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding: 10px;
}

.myPortfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  overflow-x: hidden; /*remove?*/
  border: 5px black;
  border: 5px solid brown;
}
.myPortfolio__project {
  display: flex;
  flex-direction: column;
  padding: 5px;
  color: rgb(14, 2, 2);
}
.myPortfolio__project--longlist {
  display: none;
}
.myPortfolio__project-image {
  background-position: center;
  background-color: black;
  padding-bottom: 20px;
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}
.myPortfolio__project-layoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0;
}
.myPortfolio__project-title {
  font-size: small;
  padding-top: 10px;
  padding-left: 0px;
  text-align: left;
}
.myPortfolio__project-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 0;
  padding-top: 5px;
  padding-left: 25px;
  max-height: 20px;
}

/*desk top version using grid-template-area */
@media screen and (min-width: 768px) {
  /*heading {
         grid-area: heading;
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: $heading-font-family;
         font-size: medium;
         padding-top: 10px;
         padding-left:10px;  */
  .myPortfolio {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "featured1 featured2 featured3" "longlist4 longlist5 longlist6";
  }
  .myPortfolio--1 .myPortfolio--featured {
    grid-area: fetured1;
  }
  .myPortfolio--2 .myPortfolio--featured {
    grid-area: pfeatured2;
  }
  .myPortfolio--3 .myPortfolio--featured {
    grid-area: featured3;
  }
  .myPortfolio--4 .myPortfolio--longlist {
    grid-area: longlist4;
  }
  .myPortfolio--5 .myPortfolio--longlist {
    grid-area: longlist5;
  }
  .myPortfolio--6 .myPortfolio--longlist {
    grid-area: longlist6;
  }
  .myPortfolio__project {
    display: flex;
  }
  .myPortfolio__project-skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0;
  }
  .myPortfolioa {
    padding: 10px;
  }
}
/*
.social-media-links {
    display: flex;
    justify-content: space-between;
    align-content: center;
    text-align: center;
    height: 60px;
    background-color: $color-background-black;
    padding: 10px;

*/
/*
    & __icon {
    display: flex;
    padding: 20px;
    align-items: center;    
    background-color: rgb(255, 255, 255);
    border-radius: 50%; /* Create a circle shape */
/* width: 400px; */ /* Adjust width as needed */
/*height: 400px;*/ /* Adjust height as needed */
/* Add border */
/* } 

&.a {    background-color: yellow;
            padding: 0; }
}

   */
.social-media-links {
  background-color: black;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
.social-media-links__a {
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 50%;
}

/*mobile version*/
.get-in-touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 30px;
  /*move button to base and add modifier --contact*/
}
.get-in-touch__heading {
  display: flex;
  font-family: cormorant, sans-serif;
  margin-bottom: 20px;
  margin-top: 10px;
  font-size: xx-large;
}
.get-in-touch__button {
  display: flex;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: 2px single black;
  border-radius: 5px;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.get-in-touch:hover {
  background-color: #0056b3;
}

/*
Focus effect 
    .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5);
}

Active effect 
.button:active {
    transform: translateY(1px);
}
*//*# sourceMappingURL=main.css.map */