/*font styling*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
/*@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:wght@100..900&display=swap')*/
/*--------------------------------------------------------------*/
/*alternative blue rgb(0, 157, 255) */
/*$background-dark-aqua: rgb(33, 159, 117); */
/*
<i class="fa-brands fa-linkedin-in"></i>;
<i class="fa-brands fa-github"></i>
<i class="fa-light fa-arrow-down"></i>
<i class="fa-solid fa-toggle-on" style="color: #07375f;"></i> */
/*color schemes
$color-test-blue-background: blue;
$color-test-orange-text: orange;
$color-test-pink-text: rgb(218, 6, 109);
$color-test-green-background: rgb(5, 197, 5)


$font-body: "cormorant" , "sans-serif" ;
$color-text-body: pink;
$color-text-portfolio: #09f328;
$color-text-footer: #160239;
$color-button-hover:rgb(7, 1, 26);
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #000000;
  font-family: inter, sans-serif;
}

html {
  margin: 3px;
  padding: 10px;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#image-container {
  background-image: url("./images/backgroundImageLrg-brick.jpg"), linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

@media screen and (min-width: 1024px) {
  html {
    margin: 10px;
    padding: 30px;
  }
}
.navigation {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.navigation__my-name {
  font-size: 16px;
  font-weight: 700;
  font-family: cormorant, sans-serif;
  color: #000000;
  text-align: center;
}
.navigation__desktop-links {
  display: none;
}

/*desk-top version modified to include nav links*/
@media screen and (min-width: 768px) {
  .navigation {
    height: 45px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .navigation__my-name {
    font-family: cormorant, sans-serif;
    font-size: 1.5em;
  }
  .navigation__desktop-links {
    display: flex;
    text-align: center;
    justify-content: center;
    font-family: inter, sans-serif;
    font-size: 24px;
  }
  .navigation__desktop-links:hover {
    color: rgb(33, 159, 117);
  }
  .navigation__desktop-links--navItem {
    padding-left: 25px;
  }
}
.intro {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  /**here i am inserting image again to get smaller version - may affect loading?*/
}
.intro__job-title {
  font-family: cormorant, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #000000;
  padding: 10px; /* padding for top, right, and left, but not bottom */
}
.intro__blurb {
  font-family: inter, sans-serif;
  text-align: right;
  font-weight: 400;
  color: rgb(14, 2, 2);
  font-size: 0.8rem;
  padding: 0 10px 10px; /* padding for left, right, and bottom, but not top */
}

@media screen and (min-width: 768px) {
  .intro {
    display: flex;
    flex-direction: column;
    justify-content: centre;
    text-align: center;
  }
  .intro__job-title {
    align-content: center;
    font-size: 60px;
    font-weight: 400;
    font-family: cormorant, sans-serif;
    height: 25vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
  .intro__blurb {
    font-size: 20px;
    font-weight: 400;
    font-family: inter, sans-serif;
  }
}
/*mobile version*/
.heading__aboutMe {
  font-family: cormorant, sans-serif;
  background-color: #ffffff;
  color: #000000;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  padding: 5px;
}

.about-me {
  display: flex;
  justify-content: flex-start;
  text-align: left;
  margin-bottom: 10px;
  /*if time take mobiles heading styles /image styling into seperate section? 
  this is being applied multiple times */
}
.about-me__myimage {
  max-width: 30%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  border: 1px solid black;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.about-me__blurb {
  display: flex;
  justify-content: space-between;
  background-color: white;
  text-align: left;
  margin: 10px;
  font-family: inter, sans-serif;
  font-weight: 400;
  color: rgb(14, 2, 2);
  font-size: 0.8rem;
}
.about-me__blurb--2 {
  display: none;
}

/*desk top version using grid-template-area*/
@media screen and (min-width: 768px) {
  .heading__aboutMe {
    color: rgb(14, 2, 2);
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
    margin: 0;
    padding: 10px;
    background-color: transparent;
  }
  .about-me {
    padding: 15px;
    max-height: 170px;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "blurb1 myimage" "blurb2 myimage";
  }
  .about-me__myimage {
    grid-area: myimage;
    max-width: 100%;
    height: auto;
    max-height: 170px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 30px;
    border: none; /* note -border on desktop version */
    margin: 0;
    margin-left: 50px;
  }
  .about-me__blurb {
    text-align: left;
    font-size: 1.2 rem;
    padding-left: 10px;
    margin: 0;
  }
  .about-me__blurb--1 {
    grid-area: blurb1;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
  }
  .about-me__blurb--2 {
    grid-area: blurb2;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    padding-right: 15px;
  }
}
/* to add in if time

@media screen and (min-width: 425px) and (max-width: 767px) {

  .heading__aboutMe {
    grid-area: heading;
    color: $color-text-darkBrown;
    font-weight: 700;
    text-align: left;
    margin-bottom: 0;
    margin: 0;
    padding: 10px;
  }  

  .about-me {




      display: grid;
      grid-template-columns: 3fr 1fr ;
      grid-template-rows: 1fr;
      grid-template-areas:
                "blurb1 myimage"
                "blurb2 myimage";

*/
/*mobile version*/
.my-skills {
  display: none;
}

/*desk top version using grid template and defining grid-template-columns and grid-template-rows */
@media screen and (min-width: 768px) {
  .my-skills {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, auto);
    font-size: small;
  }
  .my-skills__heading {
    grid-column: col/span 1;
    grid-row: row 1;
    padding-left: 10px;
    font-family: cormorant, sans-serif;
    font-size: 16px;
  }
  .my-skills__info {
    grid-column: col 2/span 5;
    grid-row: row 1;
  }
  .my-skills__logos {
    grid-column: col/span 6;
    grid-row: row 2;
    padding-top: 10px;
    padding-bottom: 3px;
  }
  .my-skills__logos {
    display: flex;
    justify-content: center;
    background-image: url("./images/backgroundImageLrg-brick.jpg"), linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
    /* ^Overlay with a linear gradient */
    /* Ensure the background image covers the entire viewport */
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: transparent;
    max-height: 70px;
  }
}
/*mobile version*/
.heading__myPortfolio {
  font-family: cormorant, sans-serif;
  background-color: #000000;
  color: rgb(253, 245, 245);
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  padding: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.myPortfolio {
  background-image: url("./images/backgroundImageLrg-brick.jpg"), linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.9));
  /* ^Overlay with a linear gradient */
  /* Ensure the background image covers the entire viewport */
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  background-color: transparent; /*only need this if we set a background color) */
  overflow-x: hidden; /*remove?*/
  padding: 15px;
  padding-top: 10px;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
}
.myPortfolio__project {
  display: flex;
  flex-direction: column;
  padding: 5px;
  background-color: #ffffff;
}
.myPortfolio__project--longlist {
  display: none;
}
.myPortfolio__project-image {
  background-position: center;
  padding-bottom: 7px;
  max-width: 100%; /* Ensure the image doesn't exceed its container */
  height: auto;
  max-height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
}
.myPortfolio__project-layoutContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
}
.myPortfolio__project-title {
  font-size: 10px;
  padding-top: 10px;
  padding-left: 0px;
  text-align: left;
}
.myPortfolio__project-link {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  padding-top: 5px;
  padding-right: 10px;
}
.myPortfolio__project-link--eye {
  padding-left: 10px;
}
.myPortfolio__project-link--eye:hover {
  background-color: rgb(33, 159, 117);
}
.myPortfolio__project-link--code {
  padding: 0;
}
.myPortfolio__project-link--code:hover {
  background-color: rgb(33, 159, 117);
}
.myPortfolio__project-skills {
  display: none;
}

/*desk top version using grid-template-area */
@media screen and (min-width: 768px) {
  .heading__myPortfolio {
    font-family: cormorant, sans-serif;
    background-color: #000000;
    color: rgb(253, 245, 245);
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    padding: 10px;
    margin-top: 10px;
  }
  .myPortfolio {
    padding: 20px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: "featured1 featured2 featured3" "longlist4 longlist5 longlist6";
  }
  .myPortfolio--1 .myPortfolio--featured {
    grid-area: featured1;
  }
  .myPortfolio--2 .myPortfolio--featured {
    grid-area: featured2;
  }
  .myPortfolio--3 .myPortfolio--featured {
    grid-area: featured3;
  }
  .myPortfolio--4 .myPortfolio--longlist {
    grid-area: longlist4;
  }
  .myPortfolio--5 .myPortfolio--longlist {
    grid-area: longlist5;
  }
  .myPortfolio--6 .myPortfolio--longlist {
    grid-area: longlist6;
  }
  .myPortfolio__project {
    display: flex;
  }
  .myPortfolio__project-skills {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-right: 0;
    font-size: 14px;
  }
  .myPortfolio__project-title {
    font-size: 14px;
  }
}
.external-links {
  display: flex;
  justify-content: space-around;
  align-content: center;
  text-align: center;
  background-color: #000000;
  padding: 10px;
}
.external-links__linkedin {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}
.external-links__linkedin:hover {
  background-color: rgb(33, 159, 117);
}
.external-links__github {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}
.external-links__github:hover {
  background-color: rgb(33, 159, 117);
}
.external-links__cv {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 50%;
}
.external-links__cv:hover {
  background-color: rgb(33, 159, 117);
  color: rgb(253, 245, 245);
}

/*mobile version*/
.get-in-touch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 20px;
}
.get-in-touch__heading {
  display: flex;
  font-family: cormorant, sans-serif;
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 25px;
}
.get-in-touch__button {
  display: flex;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
  border: 2px single black;
  border-radius: 5px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
}
.get-in-touch__button:hover {
  background-color: rgb(33, 159, 117);
  color: rgb(253, 245, 245);
  font-weight: 800;
}/*# sourceMappingURL=main.css.map */