@use "./variables" as *;

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;

    &__heading {
    font-family: cormorant, sans-serif;
    padding: 10px;
    }
/*
    &__myimage {
     // Ensures the image does not exceed the width of the container
      max-height: 60px;
*/

    &__about-me__blurb1 {
    font-family: cormorant, sans-serif;
    color: $color-test-green-background; /*test*/
    }

  &__about-me__blurb2 {
    font-family: cormorant, sans-serif;
    color: $color-test-green-background; /*test*/
  }
  }
  /*
    &__blurb{
        font-size:16px;
        font-weight:400;
        color: $color-text-headings;
        font-family: Inter, sans-serif;
    } */
