@use "./variables" as *;

.about-me {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  overflow-x: hidden;

    &__heading {
    font-family: cormorant, sans-serif;
    padding: 10px;
    }

    &__myimage {
      max-width:100%;
      width: auto;
      background-color: black;
    }

    &__blurb1 {
    font-family: cormorant, sans-serif;
    color: $color-test-green-background; /*test*/
    padding-bottom: 0;
  }

    &__blurb2 {
    font-family: cormorant, sans-serif;
    color: pink; /*test*/
    }
  }

  /*
    &__blurb{
        font-size:16px;
        font-weight:400;
        color: $color-text-headings;
        font-family: Inter, sans-serif;
    } */

    /* adding media query */

@media screen and (min-width: 768px) { 
  
  .about-me {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 2fr 1fr ;
        grid-template-rows: repeat(3,1fr);
        grid-template-areas:
                  "heading myimage"
                  "blurb1 myimage"
                  "blurb2 myimage";

    &__heading {grid-area: heading;}         
    &__myimage {grid-area: myimage;}      
    &__blurb1  {grid-area: blurb1;}     
    &__blurb2  {grid-area: blurb2;}      

  }

}
/*
  .about-me__blurb1 .aboutme__blurb2 {
    background-color: #444;
    font-size: 150%;
  }

  .about-me__heading {
    color: $color-test-blue-background;
    font-size: 200%; //*CHANGE */
   