@use "./variables" as*;

* {
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
    font-family: $test-font-family; /*change this later */
    color: $color-text-main ;       /*change this later */
}

a {
    text-decoration: none;
    cursor: pointer;
}


