@use "./variables" as*;

* {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    color: $color-text-main ;  
    background-color: $color-background-main;     /*change this later */
    font-family: $paragraph-font-family;
}

a {
    text-decoration: none;
    cursor: pointer;
}



