@use "./variables" as *;


.intro {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    padding: 0;


    &__job-title {
        color: $color-test-pink-text;
        font-family: cormorant, sans-serif;
        font-size: xxx-large;
        margin-bottom: 20px;
        margin-top: 20px;
    }
    
    &__blurb{
        color: $color-test-orange-text;
        font-family: Inter, sans-serif;
    }
}

/*

@media screen and (min-width: 768px) {

    .intro {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        

        &__job-title {
            font-size: 128px;
            font-weight: 400;
            color: $color-text-headings;
            font-family: cormorant, sans-serif;
            padding: 10px;
        }
        
        &__blurb{
            font-size:20px;
            font-weight:400;
            color: $color-text-headings;
            font-family: "Inter", sans-serif;
            padding: 10px;
        }
    }
}

*/