@use "./variables" as *;

/*mobile version*/

.myPortfolio {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  overflow-x: hidden;  /*remove?*/

    &__heading {
        font-family: $heading-font-family;
        font-size: larger;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left:10px;
       
    }

    &__projectN{ 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
        
        &--longlist {
            display: none;
        }

        &--imageN {
        max-width:100%;
        height: auto;
        background-color: black;
        padding-bottom: 20px;
        }

        &--layoutContainer {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;
            padding: 0;
        }
       
        &--titleN {
        font-size: medium;
        padding-top: 15px;
        padding-left: 0px;
        }

        &--linksN {
            display: flex;
            flex-direction: row;
            justify-content:flex-end;
            padding-right: 0;
        }

       &--skillsN {
            display: none;
        } 
    }
}

/*desk top version using grid-template-area */

@media screen and (min-width: 768px) { 

    .myPortfolio {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas:
            "featured featured featured"
            "longlist longlist longlist";
    }
    

    
    .myPortfolio__projectN--featured {
        grid-area: featured;
    }
    
    .myPortfolio__projectN--longlist {
        grid-area: longlist;
    }
}   
/*    
    .myPortfolio__project {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: left;
    }
    
    .myPortfolio__project-image {
        max-width: 100%;
        width: auto;
        background-color: black;
    }
    
    .myPortfolio__project-moreInfo {
        
        height: 15px;
        font-size:smaller;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    
        &__project- {
            max-width:200px;
            max-height:auto
        }
    
    .myPortfolio__project-skills {
            display:blck;
    
         .myPortfolio__heading {
        grid-area: heading;
        font-size: large;
    }       
        }
    }
    
    }     



    /*
    .myPortfolio {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 3fr 3fr;
        grid-template-areas:
                " heading heading heading"
                " featured featured featured"
                " longlist longlist longlist"; 

        &__heading {
            grid-area: heading;
            font-size: smaller;
        }     

        &__project  {

                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                text-align: left;

                    &--featured {
                        grid-area: featured;
                    }
    
                    &--longlist  {
                        grid-area: longlist;
                    }
        }

            &__project-image {
                max-width:100%;
                width: auto;
                background-color: black;
            }

            &__project-moreInfoNav {
                height: 60px;
                background-color:$color-test-blue-background ; 
                display: flex;
                flex-direction: row ; 
                justify-content: space-between;
                align-items: center; 
            }   

                &__project-image {
        max-width:100%;
        height : auto;      
        background-color: black;
    }
}
    }
*/   