@use "./variables" as *;

.navigation {
    height: 60px;
    background-color:$color-test-blue-background ; /*CHANGE -testing*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    &__my-name {
        color: $color-test-orange-text; /*CHANGE -testing*/
        font-family:$test-font-family-2 ; /*CHANGE -testing*/
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    &__desktop-links {
        display: none;
    }
}

/*
@media screen and (min-width: 768px) { 

    .navigation {
        display: flex;
        justify-content: space-between;
        text-align: center;
    
        &__my-name {
            font-weight: 700;
            color: $color-text-headings;
            font-family: cormorant, sans-serif;
        }

        &__desktop-links {
            font-weight: 400;
            font-family: Inter, sans-seif;
            color: $color-text-headings;
        }
           
    }

}

*/
