@use "./variables" as *;

.navigation {
    display: flex;
    justify-content: center;
    text-align: center;

    &__my-name {
        font-size: 24px;
        font-weight: 700;
        color: $color-text-headings;
        font-family: cormorant, sans-serif;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    
    &__desktop-links {
        display: none;
    }
}


@media screen and (min-width: 768px) { 

    .navigation {
        display: flex;
        justify-content: space-between;
        text-align: center;
    
        &__my-name {
            font-size: 24px;
            font-weight: 700;
            color: $color-text-headings;
            font-family: cormorant, sans-serif;
        }

        &__desktop-links {
            font-size: 20px;
            font-weight: 400;
            font-family: Inter, sans-seif;
            color: $color-text-headings;
        }
           
    }

}