/*color schemes*/

@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');


$font-body: "cormorant" , "sans-serif" ;
$color-text-headings: rgb(237, 157, 9);
$color-text-body: pink;
$color-text-portfolio: #09f328;
$color-text-footer: #160239;
$color-button-hover:rgb(7, 1, 26);