@use "./variables" as *;
@use "./components";
@use "./navbar";
@use "./header";

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 20px;
    background-color: $color-background-main;
}

p {
   font-family: $paragraph-font-family; 
   font-size: auto; 
   padding: 10px;
}

